@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* ----------------------------- */
/* --------Common Styles-------- */
/* ----------------------------- */
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------- */
/* -----------Home Page-------- */
/* ---------------------------- */

/* -----Header Section----- */
header{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../imgs/back.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* ---Navigation Bar--- */
.nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
/* Logo */
.nav .logo{
    flex-basis: 10%;
}

.nav .logo img{
    width: 150px;
}

/* Menu Bar */
.nav-area{
    flex-basis: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-area li a{
    position: relative;
    padding: 10px 20px 0 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}

.nav-area li a:hover{
    padding-bottom: 10px;
    border-bottom: #fff solid 1px;
}


/* ---Welcome Text--- */
.welcome-text{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.welcome-text h1{
    font-size: 700%;
    color: #fff;
    margin-bottom: 40px;
}

.welcome-text .cab{
    padding: 20px 30px;
    border: 2px #fff solid;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}

.welcome-text .cab:hover{
    background: #fff;
    color: #000;
}
